{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div id="admin-dashboard" class="content-section">
	<h1>Admin Dashboard</h1>
	<button v-on:click="get_stocks({% url 'download_list_of_stocks' %})">Update List of Stocks</button>
	<button v-on:click="get_exchanges({% url 'update_exchanges' %})">Update List of Exchanges</button>
	<div v-if="message" class="alert" :class="{ 'alert-success': isSuccess, 'alert-danger': hasError }">[[ message ]]</div>
</div>

<script>
const app = {
	delimiters: ["[[", "]]"],
	data() {
		return {
			result: null
		}
	},
	methods: {
		get_stocks: function(url){
			axios
				.get(url)
				.then(response => (this.result = response))
		},
		get_exchanges: function(url){
			axios
				.get(url)
				.then(response => (this.result = response))
		}
	},
	computed: {
		hasError() {
			return this.result && !this.result.data.success
		},
		isSuccess() {
			return this.result && this.result.data.success
		},
		message() {
			return this.result ? this.result.data.message : ""
		}
	}
}
Vue.createApp(app).mount('#admin-dashboard')
</script>
{% endblock %}