{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="content-section">
	<h1>Dashboard</h1>
</div>
{{ free_cash }}
<table class="table table-sm table-hover table-bordered">
	<thead>
	  <tr>
		<th scope="col">Security</th>
		<th scope="col">Quantity</th>
		<th scope="col">Current price</th>
		<th scope="col">Value</th>
		<th scope="col">Purchased date</th>
		<th scope="col">Current price</th>
		<th scope="col">Gain</th>
		<th scope="col">Net Value</th>
		<th scope="col">Net Gain</th>
		<th scope="col">Action</th>
	  </tr>
	</thead>
	<tbody>
		{% for ticker, hold in securities.hold.items %}
			<tr>
				<td title="{{ securities.ticker_info|get_item:ticker|get_item:'ticker_name' }}"><a href="{% url 'security_transactions' ticker %}">{{ ticker }}</a></td>
				<td> {{ hold|get_item:'total_quantity' }} </td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="{% url 'form_sell' ticker %}" class="btn btn-danger">sell</button></td>
			</tr>
	  	{% endfor %}
	</tbody>
  </table>
{% endblock %}