{% extends 'base.html' %}

{% block title %}Add new holding{% endblock %}

{% block head_injection %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}


{% block content %}
	<div id="dashboard" class="content-section">
		<h1>Sell</h1>
		<form method="post">
			{% csrf_token %}
  			{{ form }}
			<div class="mb-3">
				<label class="form-label" for="ticker">Ticker</label>
				<input class="form-control" name="ticker" type="text" value="{{ ticker }}" disabled />
			</div>
			<div class="mb-3">
				<label class="form-label" for="quantity">Quantity</label>
				<input class="form-control" name="quantity" type="number" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<input class="form-control" name="price" type="number" min="0" step="0.001" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="date">Date</label>
				<input id="js-flatpickr" class="form-control" name="date" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="fee">Fee</label>
				<input class="form-control" name="fee" type="number" min="0" step="0.001" />
			</div>
			<div class="mb-3">
				<input type="submit" class="btn btn-success" value="Sell Holding" />
			</div>
			{% if form.subject.errors %}
				<ol>
				{% for error in form.subject.errors %}
					<li><strong>{{ error|escape }}</strong></li>
				{% endfor %}
				</ol>
			{% endif %}
			</div>
		</form>
	</div>

	<script>
		now = new Date;
		flatpickr("#js-flatpickr", {
			defaultDate: now.getDate() + "/" + (now.getMonth()+1) + "/" + now.getFullYear(),
			dateFormat: "d/m/Y"
		});
	</script>
{% endblock %}
