{% extends 'base.html' %}

{% block title %}Add new holding{% endblock %}

{% block head_injection %}
	<link href="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@9"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% endblock %}


{% block content %}
	<div id="dashboard" class="content-section">
		<h1>Dashboard</h1>
		<form @submit="sendForm">
			<div class="mb-3">
				<label class="form-label" for="ticker">Ticker</label>
				<auto-complete-ticker></auto-complete-ticker>
			</div>
			<div class="mb-3">
				<label class="form-label" for="quantity">Quantity</label>
				<input class="form-control" name="quantity" type="number" v-model="quantity" @blur="addRequired" :required="validation" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<input class="form-control" name="price" type="number" min="0" step="0.001" v-model="price" @blur="addRequired" :required="validation" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="date">Date</label>
				<flat-pickr class="form-control" name="date" v-model="date" :config="flatPickrConfig" type="date" :required="validation">
				</flat-pickr>
			</div>
			<div class="mb-3">
				<label class="form-label" for="fee">Fee</label>
				<input class="form-control" name="fee" type="number" min="0" step="0.001" v-model="fee" @blur="addRequired" :required="validation" />
			</div>
			<div class="mb-3">
				<input type="submit" class="btn btn-success" value="Add Holding" />
			</div>
			<div v-if="error">
				<div class="alert alert-danger" role="alert">
					[[ error ]]
				</div>
			</div>
		</form>
	</div>

	{{ var_url_autocomplete_query|json_script:"var_url_autocomplete_query" }}
	{{ var_url_query_exchange_list|json_script:"var_url_query_exchange_list" }}
	{{ var_url_add_new_holding|json_script:"var_url_add_new_holding" }}
	{{ var_url_dashboard|json_script:"var_url_dashboard" }}

	<script>
		var var_url_autocomplete_query = JSON.parse(document.getElementById('var_url_autocomplete_query').textContent);
		var var_url_query_exchange_list = JSON.parse(document.getElementById('var_url_query_exchange_list').textContent);
		var var_url_add_new_holding = JSON.parse(document.getElementById('var_url_add_new_holding').textContent);
		var var_url_dashboard = JSON.parse(document.getElementById('var_url_dashboard').textContent);

		const app = Vue.createApp({
			delimiters: ['[[', ']]'],
			data() {
				now = new Date
				return {
                    error: "",
                    validation: false,
                    ticker: null,
					quantity: null,
					price: null,
					fee: null,
					date: formattedDate = now.getDate() + "/" + (now.getMonth()+1) + "/" + now.getFullYear(),
					flatPickrConfig: {
						dateFormat: "d/m/Y"
					}
				}
			},
			methods:{
				addRequired: function(e){
					e.target.setAttribute("required", true);
				},
				sendForm: function(e){
                    this.validation = true;

                    var postData = {
                        ticker: this.ticker,
                        quantity: this.quantity,
                        price: this.price,
                        fee: this.fee,
                        date: this.date,
                    };

                    let axiosConfig = {
                        headers: {
                            'Content-Type': 'application/json;charset=UTF-8',
                            'X-CSRFToken': Cookies.get('csrftoken')
                        }
                    };

                    axios.post(var_url_add_new_holding, postData, axiosConfig)
                    .then((res) => {
                        window.location.href = var_url_dashboard;
                    })
                    .catch((error) => {
						console.log(error)
						if (error.response.data.message !== "undefined") {
							this.error = error.response.data.message
						} else {
							this.error = error.message
						}
                    });

					e.preventDefault();
				}
			}
		});

		app.component('flat-pickr', VueFlatpickr);


		app.component('auto-complete-ticker', {
			delimiters: ['[[', ']]'],
			template:`
				<input id="ticker" type="text" placeholder="Enter Ticker Name" v-model="query" @keyup="getData()" @blur="addRequired" :required="this.$parent.validation" autocomplete="off" class="form-control input-lg" />
				<div class="panel-footer" v-if="search_data.length">
					<ul class="list-group">
						<a href="#" class="list-group-item" v-for="data in search_data" @click="getName(data.ticker+'.'+exchanges[data.exchange_id])">
							[[ data.ticker ]].[[ exchanges[data.exchange_id] ]] ([[ data.name ]])
						</a>
					</ul>
				</div>
			`,
			data:function(){
				return{
					query: '',
					search_data: [],
					exchanges: [],
				}
			},
			methods:{
				addRequired: function(e){
					e.target.setAttribute("required", true);
				},
				getData:function(){
					axios.get(var_url_query_exchange_list).then(response => {
						response.data.forEach(exchange => {
							this.exchanges[exchange["id"]] = exchange["name"];
						});
					});

					axios.get(var_url_autocomplete_query, {
						params: {
							query: this.query
						}
					}).then(response => {
						this.search_data = response.data;
					});
				},
				getName:function(name){
					this.$parent.ticker = name
					this.query = name;
					this.search_data = [];
				}
			}
		});

		app.mount('#dashboard')
	</script>

{% endblock %}
